body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/*All Content for first page*/
.first_page{
    display: flex;
    margin-left: 70px;
}
.first-div-width{
    width: 40%;  
    padding: 30px;
}
.first-heading-design{
    font-size: 55px;
    border-left: 5px solid;
    padding-left: 20px;
    border-image: linear-gradient(orange,hotpink);
    border-image-slice: 1;
}
.first-heading-design span{
    color: orangered;
}
.first-div-width img{
    width: 80%;
}
/*All content for second page*/
.second_page{
    margin-top: 100px;
    margin-left: 70px;
}
.second-heading-design{
    text-align: center;
    font-size: 50px;
}
.second-heading-design span{
    color: orangered;
}
.for-flex-second-page{
    display: flex;
}
.second-div-width{
    width: 30%;
    margin: 2%;
    border-radius: 30px;
    padding: 20px;
}
.second-div-width img{
    width: 50%;
}
#second-page-first-div{
    background-color: #F5EAFA;
}
#second-page-second-div{
    background-color: #E7FEEB;
}
#second-page-third-div{
    background-color: #E6F3FE;
}
/*All content of third page */
.third_page{
    display: flex;
    margin-top: 50px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 300px 300px;
}
.third-div-width{
    width: 40%;
}
/*.third-div-width img{
    width: 50%;
    padding-left: 70px;
}*/
.third-div-width img{
    width: 400px;
    height: 350px;
    margin-left: 90px;

}

/*All content of fourth page */
.fourth_page{
    display: flex;
    margin-top: 100px;
    margin-left: 90px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: 90% 125%;
}
.fourth-div-width{
    width: 100%;
}
.fourth-div-width img{
    width: 350px;
    height: 350px;
    margin-left: 80px;
}
/*All content of optional page*/
.optional_page{
    margin: 90px;
}
.optional_page_flex{
    display: flex;
}
.last-div-width{
    width: 50%;
}
.last-div-width img{
    width: 500px;
}
.last-div-width span{
    color: orangered;
}
.last-heading{
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 10px lightgray;
}
.last-heading span{
    color: orangered;
}
#optional-page-div{
    padding: 30px;
    box-shadow: 5px 5px 20px gray;
    border-radius: 10px;
    margin: 20px;
}

/*All buttons*/
.first-link-button{
    text-decoration: none;
    color: white;
    background-color: salmon;
    border-radius: 5px;
    padding: 10px 40px;
}
.second-link-button{
    text-decoration: none;
    color: white;
    background-color: salmon;
    border-radius: 5px;
    padding: 10px 40px;
}
.third-link-button{
    text-decoration: none;
    color: white;
    background-color: salmon;
    border-radius: 5px;
    padding: 10px 40px;
}
.last-link-button{
    text-decoration: none;
    color: white;
    background-color: salmon;
    border-radius: 5px;
    padding: 10px 40px;
}