body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/*All Content for first page*/
.first_page{
    display: flex;
}
.first-div-width{
    width: 40%;
    margin-left: 5%;    
    padding: 30px;
}
.first-heading-design{
    font-size: 60px;
    border-left: 5px solid;
    padding-left: 20px;
    border-image: linear-gradient(orange,hotpink);
    border-image-slice: 1;
}
.first-heading-design span{
    color: orangered;
}
.first-div-width img{
    width: 80%;
}
/*All content for second page*/
.second_page{
    margin-top: 100px;
    margin-left: 50px;
}
.second-heading-design{
    text-align: center;
    font-size: 50px;
}
.second-heading-design span{
    color: orangered;
}
.for-flex-second-page{
    display: flex;
}
.second-div-width{
    width: 30%;
    margin: 2%;
    border-radius: 30px;
    padding: 20px;
}
.second-div-width img{
    width: 50%;
}
#second-page-first-div{
    background-color: #F5EAFA;
}
#second-page-second-div{
    background-color: #E7FEEB;
}
#second-page-third-div{
    background-color: #E6F3FE;
}
/*All content of third page */
.third_page{
    display: flex;
    margin-top: 50px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 250px 250px;
}
.third-div-width{
    width: 35%;
}
/*.third-div-width img{
    width: 50%;
    padding-left: 70px;
}*/
.third-div-width img{
    width: 350px;
    height: 350px;
    padding-left: 70px;
}
/*All buttons*/
.first-link-button{
    text-decoration: none;
    color: white;
    background-color: salmon;
    border-radius: 5px;
    padding: 10px 40px;
}
.second-link-button{
    text-decoration: none;
    color: white;
    background-color: salmon;
    border-radius: 5px;
    padding: 10px 40px;
}